
.NavBar {

	border-radius: 10px;
	background-color: #232323;
	color: white;

	padding: 20px 4%;
	margin-bottom: 1px;
	display: flex;

}

.NavBar-anchor {
	display: flex;
	align-items: center;
}

.NavBar-title {
	display: inline-flex;
	color: white;
	text-decoration: none;
	margin: 0;
	
}

.NavBar-title-conference {
	font-weight: lighter;
	margin-right: 5px;
}

.NavBar-title-badges {
	font-weight: bold;
}